  
<div>
    <ul class="nav navbar-nav nav-lang">
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="en">
                {% if language == 'en' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>EN</span>
                {% else %}
                    <span class="navbar-icons-text">EN</span>
                {% endif %}                   

            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="de">
                {% if language == 'de' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>DE</span>
                {% else %}
                    <span class="navbar-icons-text">DE</span>
                {% endif %}                   

            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="it">
                {% if language == 'it' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>IT</span>
                {% else %}
                    <span class="navbar-icons-text">IT</span>
                {% endif %}
            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="hr">
                {% if language == 'hr' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>HR</span>
                {% else %}
                    <span class="navbar-icons-text">HR</span>
                {% endif %}
            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="es">
                {% if language == 'es' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>ES</span>
                {% else %}
                    <span class="navbar-icons-text">ES</span>
                {% endif %}
            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="uk">
                {% if language == 'uk' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>UA</span>
                {% else %}
                    <span class="navbar-icons-text">UA</span>
                {% endif %}
            </a> &nbsp;
        </li>
        <li class="lng-switcher">
            <a href="" class="language-switcher-language-session-dariah" data-lang="sl">
                {% if language == 'sl' %}
                    <span class="navbar-icons-text" style='color:#88DBDF !important'>SI</span>
                {% else %}
                    <span class="navbar-icons-text">SI</span>
                {% endif %}
            </a> &nbsp;
        </li>
    </ul>
</div>